---
import PageLayout from "../layouts/PageLayout.astro";
import Link from "../components/Link.astro";
import { 
    WORK_TITLE,
    WORK_PLACE,
    WORK_URL,
} from '../config';
---

<PageLayout>
    <div class="sm:px-8 mt-16 sm:mt-32">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
                <div class="mx-auto max-w-2xl lg:max-w-5xl">
                    <header class="max-w-2xl">
                        <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                            Now.
                        </h1>
                        <p class="mt-6 text-lg text-zinc-600 dark:text-zinc-300">
                            This is my now page, and shows what I am focusing on right now.
                        </p>
                    </header>

                    <article class="max-w-2xl my-4"></article>
                        <p class="mt-6 text-lg text-zinc-600 dark:text-zinc-300">
                            As usual, I am creating tutorials for <Link link="https://laravel-news.com">Laravel News</Link>, where I write tutorials weekly. This takes up quite a bit of my spare time, as each tutorial I write - I make sure that it is technically correct to begin with by creating a project around it. Seeing if there is a way I can improve it in anyway. I find it is important to make sure I invest enough time in these to make them worth reading.
                        </p>
                        <p class="mt-6 text-lg text-zinc-600 dark:text-zinc-300">
                            During the day I am focusing on my day job at <Link :link={WORK_URL}>{WORK_PLACE}</Link>, where I am a {WORK_TITLE}. Right now I am learning all about our platform, building our SDKs and helping us to get more brand awareness in the PHP community around API excellence.
                        </p>
                        <p class="mt-6 text-lg text-zinc-600 dark:text-zinc-300">
                            Alongside this, I also run a consulting business on the side where I work alongside existing teams to help their Engineering teams get to that next level, and their products become easier to manage. I typically only work with one client at a time with this, as I like to keep my focus available.
                        </p>
                    </article>


                    <footer class="max-w-2xl mt-4">
                        <p class="mt-6 text-lg text-zinc-600 dark:text-zinc-300">
                            Learn more about <Link link="https://nownownow.com/about">now</Link> pages, and what they are.
                        </p>
                    </footer>

                </div>
            </div>
        </div>
    </div>
</PageLayout>